bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/AsterixSharp/CopilotIndices/17.13.441.19478
/.vs/AsterixSharp/DesignTimeBuild
/.vs/AsterixSharp/FileContentIndex
/.vs/AsterixSharp/v17
*.user
